---
layout: 'base.html'
description: "We are an internal team of creative marketing experts with expertise in branding, design, and production established in 2022. We are based in Eau Claire, WI"
meta-title: 'About Us - Beyond Visual | Web Design & Digital Marketing | Eau Claire, WI'
tagTitle: 'About Us'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 400
---
{% block preload %}
<link rel="preload" as="image" href="/assets/images/carsonpark.jpg">
<link rel="preload" as="image" href="/assets/images/hero.webp">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/carsonpark.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/carsonpark.jpg">
        <img srcset="/assets/images/carsonpark.jpg" alt="eau claire" width="400" height="662">
    </picture>
</section>
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/about.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about.png">
                <img loading="lazy" decoding="async" src="/assets/images/about.png" alt="website design" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/formal.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/formal.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/formal.jpg" alt="joaquin nafstad owner-founder" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Beyond Visual</h2>
            <p class="cs-text">
                Beyond Visual, the best custom web design and digital marketing agency for small businesses based out of Eau Claire, Wisconsin. Our talented team of web designers and digital marketing experts work together to create stunning, responsive websites that help small businesses establish a strong online presence.
            </p>
            <p class="cs-text">
                At Beyond Visual, we believe that every business deserves a unique, professional website that reflects their brand and values. Our web design process is tailored to meet the needs of each client, ensuring that every website we create is visually appealing, easy to navigate, and optimized for search engines.
            </p>
            <p class ="cs-text">
                As a leading web design and digital marketing agency, we take pride in delivering exceptional results to our clients. We specialize in a range of services, including website design, search engine optimization (SEO), and marketing analytics. Our goal is to help small businesses succeed by providing them with the tools and expertise they need to reach their target audience and grow their brand online.
            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p">
                    We focus our efforts on delivering excellent quality and exception customer service. I'm proud to say that the client is our number one focus.
                </p>
                <span class="cs-name">Joaquin Nafstad</span>
                <span class="cs-job">Owner-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
    <!-- ============================================ -->
    <!--                    CTA                       -->
    <!-- ============================================ -->
    <section id="cta">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get Started</h2>
                <p class="cs-text">
                    Have a project in mind? Let us know how we can help! 
                </p>
                <a href="" class="cs-button-solid">Contact</a>
            </div>
            <div class="cs-image-group">
                <!--Phone Image-->
                <picture class="cs-bucket"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/finalcta.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/finalcta.png">
                    <img loading="lazy" decoding="async" src="/assets/images/finalcta.png" alt="contact" width="543" height="437">
                </picture>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background"  aria-hidden="true">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric-m.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png" alt="contact" width="1920" height="660">
         </picture>
    </section>   