---
layout: 'base.html'
description: "We are an internal team of creative marketing experts with expertise in branding, design, and production established in 2022. We are based in Eau Claire, WI"
meta-title: 'About Us - Beyond Visual | Web Design & Digital Marketing Eau Claire, WI'
tagTitle: 'About Us - Beyond Visual | Web Design & Digital Marketing | Eau Claire, WI'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 300
---
{% block preload %}
<link rel="preload" as="image" href="/assets/images/carsonpark.jpg">
<link rel="preload" as="image" href="/assets/images/hero.webp">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/carsonpark.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/carsonpark.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/carsonpark.jpg" alt="cabinets" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/about.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about.png">
                <img loading="lazy" decoding="async" src="/assets/images/about.png" alt="house" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/formal.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/formal.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/formal.jpg" alt="house" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Beyond Visual</h2>
            <p class="cs-text">
                Whatever you need, we are here to listen, work with you, and provide specialized solutions to help you accomplish all of your business objectives.
                Although it may make or ruin your company, digital marketing is difficult to master. We are on a mission to strengthen your brand and assist you in controlling your market since we recognize this.
            </p>
            <p class="cs-text">
                Beyond Visual, an internal team of creative marketing experts with expertise in branding, design, and production, was established in 2022. Our superpower is making marketing simple, so you can concentrate on what you do best while knowing that we'll take care of the rest. We are based in Eau Claire, WI, however, we accept clients all around the U.S.
            </p>
            <p class ="cs-text">
                We can help you reposition your company, develop a new brand identity, and make plans for a prosperous future with the aid of our strategic marketing methods.
            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p">
                    We focus our efforts on delivering excellent quality and exception customer service. I'm proud to say that the client is our number one focus.
                </p>
                <span class="cs-name">Joaquin Nafstad</span>
                <span class="cs-job">Owner-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
    <!-- ============================================ -->
    <!--                    CTA                       -->
    <!-- ============================================ -->
    <section id="cta">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get Started</h2>
                <p class="cs-text">
                    Have a project in mind? Let us know how we can help! 
                </p>
                <a href="" class="cs-button-solid">Contact</a>
            </div>
            <div class="cs-image-group">
                <!--Phone Image-->
                <picture class="cs-bucket"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/finalcta.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/finalcta.png">
                    <img loading="lazy" decoding="async" src="/assets/images/finalcta.png" alt="bucket" width="543" height="437">
                </picture>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background"  aria-hidden="true">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric-m.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/fabric.png" alt="fabric" width="1920" height="660">
         </picture>
    </section>   